/* CSS RESET BELOW */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* CSS RESET END */

/* JULIAN CSS BELOW */


html {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  background-color: #FF6840;
  background-repeat:repeat;
  color: black;
}

.heads {
  height: 80px;
  background-color: #FF6840;
  color: #E8E5D5;
}



p, h4, h5, h6 {

	font-family: "Droid Sans",Arial,"Helvetica Neue","Lucida Grande",sans-serif;
	color: black;
}

#description {
  font-family: 'Josefin Sans', sans-serif;
  text-align: right;
  font-weight: bold;
}

#avatar {
	border-radius: 50%;
  float: left;
	margin: 28px 10px 0px 0px;
}

#avatar:hover {
          box-shadow: 0px 0px 12px 12px #D2E6BC;
}

/* cool rotation use it later 

#avatar:hover {
  -webkit-transform: rotate(-60deg);
     -moz-transform: rotate(-60deg);
       -o-transform: rotate(-60deg);
      -ms-transform: rotate(-60deg);
          transform: rotate(-60deg);
}
*/

h1 {
  font-family: 'Fjalla One', sans-serif;
	font-size: 65px;
	font-weight:900;
	margin-top:14px;
  text-align: right;
  color:#007633;

}

h2 {
  font-family: 'Fjalla One', sans-serif;
	font-size: 50px;
	font-weight:800;
	text-align: center;
  color: #4DA166;
  border-bottom: 1px solid #444444;
  padding-bottom: 20px
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
	font-size: 22px;
	font-weight:700;

}

h6 {
  font-size: 17px;
  font-weight:700;
  font-variant: small-caps;
  }

#navigate {
  margin-top: 10px;
  text-align: right;
  padding-top: 25px;
  font-family: 'Fjalla One', sans-serif;
  color: #E8E5D5;
}


#navigate li {
  display: inline;
  margin: 13px;
  font-size: 40px;

}

#navigate li a {
  color: #E8E5D5;
  line-height: 20px;
  text-decoration: none;
}

#navigate li a:hover {
    color: #37DA7E;

}


.dates {
  color: #4DA166;
  font-style: italic;
}

.gridsize {
  padding: 30px;
  width: 800px;
  margin: auto;
}

li {
  list-style: circle;
}


.navlist li { 
  display: inline;
  padding-right: 20px;
}

.details li {
list-style-position:inside;
}


.pagefooter {
     height: 120px;
     margin-left: auto;
     margin-right: auto;
     background-color: #FF6840;
   color: #E8E5D5;
}

#footerlinkage {
  text-align: center;
  margin-top: 15px;
  padding-top: 15px;
}

#footerlinkage ul {
  margin-left: auto;
}

#footerlinkage li {
  display: inline;
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 30px;
}

#footerlinkage li a {
  color: #E8E5D5;
  text-decoration: none;
}

#footerlinkage li a:hover {
    color: #BF4E30;

}

.content {
  background-color: #E8E5D5;
}


/* JULIAN CSS ENDS */