
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/************** HTML5 display-role reset for older browsers ****************/

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/************************* End Meyer Reset *********************/


/************************** Grid setup *************************/

.container {

width: 960px;
margin: 0 auto;

}

div .colbox {
	width: 200px;
	color: black;
	margin: 10px;
	padding: 10px;
	float: left;
	text-align: center;
}

.dates {
  color: #4DA166;
  font-style: italic;
  font-weight: 700;
}

.heads {
	height: 80px;
	background-color: #FF6B40;
	color: #FF6B40;
}

.topsection {
	background: #E8E5D5;
	background-repeat: repeat-x;
	height: 400px;
	margin: auto;
	color: black;
	text-align: center;

}

.topsection img {
	margin-top: 35px;

}

#navigate {
	text-align: right;
	padding-top: 25px;
	font-family: 'Fjalla One', sans-serif;
	color: #E8E5D5;
}


#navigate li {
	display: inline;
	padding: 13px;
	font-size: 40px;

}

#navigate li a {
	color: #E8E5D5;
	line-height: 20px;
	text-decoration: none;
}

#navigate li a:hover {
    color: #BF4E30;

}


.middlesection {
	background-color: black;
	height: 180px;
	margin: auto;
	color: #37DA7E;
	text-align: center;
	padding-top: 5px

}

.thirdsection {
	height: 30px;
	background-color: #00B454;
	color: black;
	text-align: center;
}

.thirdsection p {
	padding-top: 5px;
}

.pagefooter {
     height: 400px;
     margin-left: auto;
     margin-right: auto;
     background-color: #FF6B40;
	 color: #E8E5D5;
}

#footerlinkage {
	text-align: center;
	/*/margin-top: 15px;*/
	padding-top: 15px;
}

#footerlinkage ul {
	margin-left: auto;
}

#footerlinkage li {
	display: inline;
	margin-top: 5px;
	margin-left: 15px;
	margin-right: 15px;
	font-size: 30px;
}

#footerlinkage li a {
	color: #E8E5D5;
	text-decoration: none;
}

#footerlinkage li a:hover {
    color: #BF4E30;

}

.content {
  background-color: #E8E5D5;
}

#avatar {
	border-radius: 50%;
  float: left;
	margin: 28px 10px 0px 0px;
}

#avatar:hover {
          box-shadow: 0px 0px 12px 12px #D2E6BC;
}

#description {
  font-family: 'Josefin Sans', sans-serif;
  text-align: right;
  font-weight: bold;
}


/**************** Type Styles *********************/

html {
	background-color: black;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	font-weight: 650;
	background-color: #00B454;
}

p {
	padding-top: 7px;
}


h1 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 30px;
	text-shadow: 0.05em 0.01em #FF9073;
	font-size: 78px;
	padding-bottom: 15px;
	padding-top: 15px;
	text-align: center;
}

h2 {
	font-family: 'Fjalla One', sans-serif;
	padding-top: 15px;
	font-size: 60px;
	text-align: center;
}

h3 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 25px;
	font-weight: 700;
	color: black;
}

h6 {
  font-size: 17px;
  font-weight:700;
  font-variant: small-caps;
}


li {
  list-style: circle;
  list-style-position:inside;
}

a {
	color: #FF3900;
}


/* mobile style one */

@media screen and (max-width: 440px), only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {

.wrapper {
	width:=400px;
}

#navigate {
	text-align: center;
}


#navigate li {
	display: block;
	text-align: center;
}

.heads {
	height: 200px;
}

#footerlinkage li {
	display: block;
	margin-top: 5px;
	margin-left: 15px;
	margin-right: 15px;
	font-size: 30px;
}

.topsection img {
	margin-top: 4px;

}

	} 

