
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/************** HTML5 display-role reset for older browsers ****************/

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/************************* End Meyer Reset *********************/


/************************** Grid setup *************************/

.container {

width: 960px;
margin: 0 auto;

}

div .colbox {
	width: 200px;
	color: black;
	margin: 10px;
	padding: 10px 10px 80px 10px;
	float: left;
	text-align: center;
}

.dates {
  color: #4DA166;
  font-style: italic;
  font-weight: 700;
}

.heads {
	height: 80px;
	width: 100%;
	background: #FF6B40;
	color: #FF6B40;
	position: fixed;
	top: 0;
}

.topsection {
	background: #E8E5D5;
	background-repeat: repeat-x;
	margin: auto;
	color: black;
	text-align: center;
	padding-top: 80px;

}

.topsection img {
	margin-top: 35px;

}

#navigate {
	text-align: center;
	padding-top: 25px;
	font-family: 'Fjalla One', sans-serif;
	color: #E8E5D5;
}


#navigate li {
	display: inline;
	padding: 13px;
	font-size: 40px;

}

#navigate li a {
	color: #E8E5D5;
	line-height: 20px;
	text-decoration: none;
}

li a {
		text-shadow: 1px 1px #45b5ff;
}

#navigate li a:hover {
    color: #BF4E30;

}


.middlesection {
	background-color: black;
	/*height: 180px;*/
	margin: auto;
	color: #37DA7E;
	text-align: center;
	padding: 5px 0px 40px 0px;

}

.thirdsection {
	height: 30px;
	background-color: #00B454;
	color: black;
	text-align: center;
}

.thirdsection p {
	padding-top: 5px;
}

.pagefooter {
     height: 400px;
     margin-left: auto;
     margin-right: auto;
     background-color: #FF6B40;
	   color: #E8E5D5;
}

#footerlinkage {
	text-align: center;
	/*/margin-top: 15px;*/
	padding-top: 15px;
}

#footerlinkage ul {
	margin-left: auto;
}

#footerlinkage li {
	display: inline;
	margin-top: 5px;
	margin-left: 15px;
	margin-right: 15px;
	font-size: 30px;
}

#footerlinkage li a {
	color: #E8E5D5;
	text-decoration: none;
}

#footerlinkage li a:hover {
    color: #BF4E30;

}

.content {
  background-color: #E8E5D5;
  margin-top: 80px;
  margin-bottom: 80px;
}

#avatar {
	border-radius: 50%;
    position: fixed;
    margin: 25px;

}

#avatar:hover {
          box-shadow: 0px 0px 12px 5px #D2E6BC;
}

#description {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-weight: bold;
}

/**** Clear fix ****/ 

.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}


/**************** Typography Styles *********************/

body {
	background-color: black;
	font-family: 'Josefin Sans', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: bold;
	background-color: #00B454;
}

p {
	padding-top: 7px;
	font-size: 15px;
	line-height: 23px;
		font-family: 'Open Sans', sans-serif;
}


h1 {
	font-family: 'Fjalla One', sans-serif;
	text-shadow: 0.05em 0.01em #FF9073;
	font-size: 50px;
	padding-bottom: 15px;
	padding-top: 15px;
	text-align: center;
}

h2 {
	font-family: 'Fjalla One', sans-serif;
	padding-top: 15px;
	font-size: 60px;
	text-align: center;
}

h3 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 25px;
	font-weight: 700;
	color: black;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: solid 1px black;
	text-shadow: 0.05em 0.01em #00B454;
}

h6 {
  font-size: 17px;
  font-weight:700;
  font-variant: small-caps;
  font-weight: bold;
}


li {
  list-style: circle;
  list-style-position:inside;
}

a {
	color: #1a8cd8;
	text-decoration: none;
	font-weight: 900;
	text-shadow: .4px .4px #45b5ff;

}

p.entry {
	padding-bottom: 10px;
	padding-top: 10px;
}


blockquote {
	font-size: 24px;
	font-style: italic;
	font-weight: bold;
	font-family: georgia, serif;
	text-shadow: 0em 0.01em gray;
}

ul.details li {
	font-size: 15px;
	line-height: 23px;
}



/* mobile style one */
/*
@media screen and (max-width: 440px), only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {

.wrapper {
	width:=400px;
}

#navigate {
	text-align: center;
}


#navigate li {
	display: block;
	text-align: center;
}

.heads {
	height: 200px;
}

#footerlinkage li {
	display: block;
	margin-top: 5px;
	margin-left: 15px;
	margin-right: 15px;
	font-size: 30px;
}

.topsection img {
	margin-top: 4px;

}

	} 

*/



/* CALENDAR CSS */

/*body {
	font-family: helvetica, sans-serif;
	color: #848484;
	background-color: #fff9ad;
}*/

.cal_container {
	width: 280px;
	margin-top:20px;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
	box-shadow: 1px 1px 3px #888888;
}

.week {
	background-color: #f8f8f8;
}

#calhead {
	background: linear-gradient(#45b5ff, #1a8cd8);
	color: #ffffff;
	text-align: center;
	font-size: 18px;
	line-height: 35px;
	border-radius: 4px;
	letter-spacing: 2px;
}

p.toggle {
	display: inline;
	padding: 0px;
	font-size: 12px;
	line-height: 14px;
}


#calendarmonth {
	font-family: helvetica, sans-serif;
	border-left: 1px solid white;
	border-right: 1px solid white;
	display: inline;
	padding: 0 20px 0 20px;
	margin: 0 20px 0 20px;
	font-size: 18px;
	letter-spacing: 2px;
}

.sevenday li {

	float: left; 
	width: 38px;
	list-style-type: none;
	font-size: 14px;
	line-height: 32px;
	text-align: center;
	background-color: #fefefe;
	border-bottom: 1px solid #cccccc;
	padding-left: 0px;
	padding-right: 1px;
	border-left: 1px solid #cccccc;
	color: #848484;

}


.sevenday li:hover {

	float: left; 
	width: 38px;
	list-style-type: none;
	font-size: 14px;
	line-height: 32px;
	text-align: center;
	background-color: #45b5ff;
	border-bottom: 1px solid #cccccc;
	padding-left: 0px;
	padding-right: 1px;
	border-left: 1px solid #cccccc;
	color: #fefefe;

}

li.july {
	color: #cccccc;
	background-color:#EBEDED;
}

.corner {
	border-radius: 2px;
}


